body{
    background: linear-gradient(197deg, black 56%, white 100%);
    background-attachment: fixed;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    flex-direction: column;
}
.form{
    background-color: beige;
    width: 30%;
    aspect-ratio: 16/9;
    margin: 5px 30px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
label{
    margin: 10px 15px;
}

.predict-tx{
    margin-top: 5vh;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.form button {
    font-size: 1.2rem;
    background: bisque;
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px;
    margin: 10px 15px;
}

.form button:hover{
    padding: 12px 15px;
}
.matrix{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    color: antiquewhite;
    flex-direction: column;
}
.matrix img{
    width: 60%;
    aspect-ratio: 2/1;
    margin: 10px;
    border-radius: 10px;
}