body {
  background: linear-gradient(197deg, black 56%, white 100%);
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  flex-direction: column;
}
.form {
  background: linear-gradient(197deg, #878a92 20%, #a6aec1 100%);
  width: 70%;
  height: 230px;
  aspect-ratio: 16/3;
  margin: 5px 30px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
label {
  margin: 10px 15px;
}
.labels-predicts {
  display: flex;
  justify-content: space-around;
  margin: 10px 15px;
}

.predicts {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.form button {
  font-size: 1.2rem;
  background: bisque;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px;
  margin: 20px 15px;
  width: 80%;
  transition: ease-in-out;
  background: linear-gradient(197deg, #6c788e 45%, #fcfdff 100%);
}

.form button:hover {
  width: 85%;

}
.images {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 5vh;
  color: antiquewhite;
}
.images img {
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}
.matrix{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
    .form{
        width: 70%;
    }
    .labels-predicts{
        flex-direction: column;
    }
}
